<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
</header>
<title>Django Girls blog</title>
<h1><a href="/">Django Girls Blog</a></h1>
<article>
<time>published: 14.06.2014, 12:14</time>
<h2><a href="">My first post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Do
</article>
<article>
<time>published: 14.06.2014, 12:14</time>
<h2><a href="">My second post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Do
</article>
</body>
</html>